@model IEnumerable<Mvc.Models.mvcPolizasModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPoliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoCubrimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cobertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inicioVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodoCobertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoRiesgo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoCubrimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inicioVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodoCobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoRiesgo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
