@model IEnumerable<Mvc.Models.mvcPolizasModel>
<head>
    <link href="~/Estilos/Estilos.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">﻿
</head>
<div class="Contenedor">
    @{
        ViewBag.Title = "Listado de Pólizas";
    }
    <p>
        <br />
        <a href="@Url.Action("Create", "Polizas")">Adicionar</a>
        <br />
    </p>
    <div class="table-responsive">
        <table class="table" min-width="10%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idPoliza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipoCubrimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cobertura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inicioVigencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.periodoCobertura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipoRiesgo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.usuarioPoliza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idPoliza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoCubrimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cobertura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.inicioVigencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.periodoCobertura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoRiesgo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuarioPoliza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a href="@Url.Action("Create", "Polizas", new { id = item.idPoliza })">Editar</a>
                        <a href="@Url.Action("Delete", "Polizas", new { id = item.idPoliza })">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
        </div>
    </div>
